{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"components": "./components",
					"pages": "./pages",
					"routes": "./routes",
					"styles": "./styles",
					"lib": "./lib",
					"redux-store": "./redux-store"
				}
			}
		],
    "inline-react-svg",
	]
}
